#Import Library

In [ ]:
!pip install pydotplus

Requirement already satisfied: pydotplus in /usr/local/lib/python3.10/dist-packages (2.0.2)
Requirement already satisfied: pyparsing>=2.0.1 in /usr/local/lib/python3.10/dist-packages (from pydotplus) (3.1.0)

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as ss
%matplotlib inline
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import MinMaxScaler, StandardScaler,RobustScaler
from sklearn.model_selection import GridSearchCV
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.compose import ColumnTransformer
from sklearn.metrics import auc,roc_curve, roc_auc_score, confusion_matrix, accuracy_score, classification_report,precision_score, recall_score, RocCurveDisplay, f1_score, roc_auc_score,mean_squared_error
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier, VotingClassifier
from xgboost import XGBClassifier, plot_importance
from sklearn.decomposition import PCA
from sklearn.preprocessing import label_binarize
from sklearn.tree import export_graphviz
from six import StringIO
from IPython.display import Image
import pydotplus

#Import Data

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
data = pd.read_csv("/content/drive/MyDrive/Dataset TA/LoanData_Bondora.csv")
data

<ipython-input-187-8994d9ed4b5c>:1: DtypeWarning: Columns (34,38,80,82,83,89,90) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("/content/drive/MyDrive/Dataset TA/LoanData_Bondora.csv")

,ReportAsOfEOD,LoanId,LoanNumber,ListedOnUTC,BiddingStartedOn,BidsPortfolioManager,BidsApi,BidsManual,UserName,NewCreditCustomer,...,PreviousEarlyRepaymentsCountBeforeLoan,GracePeriodStart,GracePeriodEnd,NextPaymentDate,NextPaymentNr,NrOfScheduledPayments,ReScheduledOn,PrincipalDebtServicingCost,InterestAndPenaltyDebtServicingCost,ActiveLateLastPaymentCategory
0,2021-07-20,66AE108B-532B-4BB3-BAB7-0019A46412C1,483449,2016-03-23 16:07:19,2016-03-23 16:07:19,970,1150,5.0,BO965519,False,...,0.0,2019-10-28,2020-01-27,NaN,NaN,NaN,NaN,0.00,51.73,31-60
1,2021-07-20,D152382E-A50D-46ED-8FF2-0053E0C86A70,378148,2015-06-25 11:02:28,2015-06-25 11:02:28,1295,0,1705.0,BOA9K172A,False,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,0.00,47.08,180+
2,2021-07-20,87342E13-66CB-483F-833A-007953E50C78,451831,2016-01-14 10:00:21,2016-01-14 10:00:21,2700,565,5835.0,BO7971663,True,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,259.67,1659.60,180+
3,2021-07-20,87227056-6BF9-410C-98D1-008F788E122A,349381,2015-03-24 15:55:44,2015-03-24 15:55:44,1115,0,385.0,BO76151K3,True,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,0.00,215.05,180+
4,2021-07-20,2DDE6336-E466-4624-A337-00A0ED1A1468,443082,2015-12-17 10:12:00,2015-12-17 10:12:00,305,0,785.0,BOK423A63,True,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0.00,180+
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179230,2021-07-20,D9E714C3-B9B8-4FD1-B1AD-FF55B3AE8A8F,323749,2015-03-02 07:07:05,2015-03-02 07:07:05,2000,0,0.0,BO6492A4A,True,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.00,18.38,180+
179231,2021-07-20,09999223-3D69-42E3-BAAA-FF7F312AB236,468598,2016-02-17 10:17:35,2016-02-17 10:17:35,6215,70,1155.0,BO542A57A,False,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0.00,NaN
179232,2021-07-20,370193A5-D19C-4A99-97F7-FF95BEA52731,462572,2016-02-05 09:35:26,2016-02-05 09:35:26,430,0,1055.0,BO65A965,False,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0.00,NaN
179233,2021-07-20,98D9FCCE-0FD7-420E-9F7F-FFA960669E8B,396046,2015-08-17 17:23:05,2015-08-17 17:23:05,3000,0,0.0,BO9577433,True,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0.00,NaN
179234,2021-07-20,65C924CD-8AAF-4ECC-9C8F-FFB0C5722CBB,374840,2015-06-15 10:22:34,2015-06-15 10:22:34,0,0,1300.0,avo1007,False,...,2.0,2016-04-27,2017-04-27,NaN,NaN,NaN,NaN,0.00,2.64,180+

In [ ]:
data['NrOfDependants'] = pd.to_numeric(data['NrOfDependants'], errors='coerce')
data['NrOfDependants'] = data['NrOfDependants'].astype('Int64')

#Features Selection

In [ ]:
attr=['LoanId','UserName','NrOfDependants','Age','Gender','BidsPortfolioManager','Restructured','UseOfLoan','VerificationType','EmploymentStatus','DebtToIncome','HomeOwnershipType','AppliedAmount','IncomeTotal','Rating_V2']
df = data[attr]
df.dtypes

LoanId                   object
UserName                 object
NrOfDependants            Int64
Age                       int64
Gender                  float64
BidsPortfolioManager      int64
Restructured               bool
UseOfLoan                 int64
VerificationType        float64
EmploymentStatus        float64
DebtToIncome            float64
HomeOwnershipType       float64
AppliedAmount           float64
IncomeTotal             float64
Rating_V2                object
dtype: object

In [ ]:
names=df.columns
names

Index(['LoanId', 'UserName', 'NrOfDependants', 'Age', 'Gender',
       'BidsPortfolioManager', 'Restructured', 'UseOfLoan', 'VerificationType',
       'EmploymentStatus', 'DebtToIncome', 'HomeOwnershipType',
       'AppliedAmount', 'IncomeTotal', 'Rating_V2'],
      dtype='object')

#Drop Column Which Have 50% Null

In [ ]:
list_of_50_percent_null = [ ]
for i in df.columns:
    if df[i].isnull().sum() >= (90*179235)/100:
        list_of_50_percent_null.append(i)

list_of_50_percent_null

[]

#Separate Columns Which Have Object Data

In [ ]:
obj_data=df.select_dtypes('object')
df = df.drop(obj_data.columns, axis=1)

In [ ]:
obj_data

                                      LoanId   UserName Rating_V2
0       66AE108B-532B-4BB3-BAB7-0019A46412C1   BO965519         C
1       D152382E-A50D-46ED-8FF2-0053E0C86A70  BOA9K172A         B
2       87342E13-66CB-483F-833A-007953E50C78  BO7971663         A
3       87227056-6BF9-410C-98D1-008F788E122A  BO76151K3        HR
4       2DDE6336-E466-4624-A337-00A0ED1A1468  BOK423A63        HR
...                                      ...        ...       ...
179230  D9E714C3-B9B8-4FD1-B1AD-FF55B3AE8A8F  BO6492A4A        HR
179231  09999223-3D69-42E3-BAAA-FF7F312AB236  BO542A57A         D
179232  370193A5-D19C-4A99-97F7-FF95BEA52731   BO65A965        HR
179233  98D9FCCE-0FD7-420E-9F7F-FFA960669E8B  BO9577433         D
179234  65C924CD-8AAF-4ECC-9C8F-FFB0C5722CBB    avo1007        AA

[179235 rows x 3 columns]

#Seperate Columns Which Have Boolean Data

In [ ]:
bool_data = df.select_dtypes('bool')
df = df.drop(bool_data.columns, axis=1)

In [ ]:
bool_data

        Restructured
0              False
1              False
2              False
3              False
4              False
...              ...
179230         False
179231         False
179232         False
179233         False
179234          True

[179235 rows x 1 columns]

#Fill null data with 'Unknown'

In [ ]:
obj_data=obj_data.fillna('unknown')

#Labelling Object and Boolean Data

In [ ]:
obj_array= np.array(obj_data).reshape(-1)
bool_array= np.array(bool_data).reshape(-1)

In [ ]:
obj_array

array(['66AE108B-532B-4BB3-BAB7-0019A46412C1', 'BO965519', 'C', ...,
       '65C924CD-8AAF-4ECC-9C8F-FFB0C5722CBB', 'avo1007', 'AA'],
      dtype=object)

In [ ]:
encoder_1= LabelEncoder()
encoder_2= LabelEncoder()

In [ ]:
obj_enc= encoder_1.fit_transform(obj_array)
bool_enc= encoder_2.fit_transform(bool_array)

In [ ]:
obj_enc= pd.DataFrame(obj_enc.reshape(179235,int(obj_enc.shape[0]/179235)))
bool_enc= pd.DataFrame(bool_enc.reshape(179235,int(bool_enc.shape[0]/179235)))

In [ ]:
features_obj_data= list(obj_data.columns)
features_bool_data= list(bool_data.columns)

In [ ]:
obj_enc.columns= features_obj_data
bool_enc.columns= features_bool_data

#Concatenate Object and Boolean Data

In [ ]:
object_data=pd.concat([obj_enc,bool_enc], axis=1)
object_data

        LoanId  UserName  Rating_V2  Restructured
0        71936    195517     215482             0
1       227690    205590     123260             0
2        94698    189172     111902             0
3        94639    187079     260590             0
4        32037    209809     260590             0
...        ...       ...        ...           ...
179230  233682    177914     260590             0
179231    6595    169463     226788             0
179232   38469    178862     260590             0
179233  106953    194896     226788             0
179234   71309    261810     118926             1

[179235 rows x 4 columns]

In [ ]:
df

,NrOfDependants,Age,Gender,BidsPortfolioManager,UseOfLoan,VerificationType,EmploymentStatus,DebtToIncome,HomeOwnershipType,AppliedAmount,IncomeTotal
0,0,53,1.0,970,2,4.0,6.0,26.29,1.0,2125.0,354.0
1,0,50,1.0,1295,3,1.0,5.0,30.58,1.0,3000.0,900.0
2,1,44,0.0,2700,3,4.0,5.0,26.71,8.0,10630.0,1200.0
3,0,42,0.0,1115,2,3.0,3.0,7.36,2.0,1500.0,863.0
4,2,34,1.0,305,7,4.0,6.0,36.04,3.0,1595.0,697.0
...,...,...,...,...,...,...,...,...,...,...,...
179230,0,38,1.0,2000,6,1.0,3.0,9.40,3.0,2000.0,2300.0
179231,0,37,0.0,6215,0,4.0,3.0,69.77,4.0,7440.0,2172.0
179232,0,37,0.0,430,7,1.0,3.0,30.13,8.0,1595.0,1550.0
179233,0,58,1.0,3000,6,1.0,3.0,25.35,1.0,3000.0,350.0
179234,0,64,0.0,0,6,4.0,4.0,56.59,1.0,1300.0,867.0

#Transform Data with Median Value using Imputer

In [ ]:
names_num = df.columns
imp_median = SimpleImputer(missing_values=np.nan, strategy='median')
imp_median.fit(df)
imp_data= imp_median.transform(df)
df= pd.DataFrame(imp_data)
df.columns= names_num

In [ ]:
df

,NrOfDependants,Age,Gender,BidsPortfolioManager,UseOfLoan,VerificationType,EmploymentStatus,DebtToIncome,HomeOwnershipType,AppliedAmount,IncomeTotal
0,0.0,53.0,1.0,970.0,2.0,4.0,6.0,26.29,1.0,2125.0,354.0
1,0.0,50.0,1.0,1295.0,3.0,1.0,5.0,30.58,1.0,3000.0,900.0
2,1.0,44.0,0.0,2700.0,3.0,4.0,5.0,26.71,8.0,10630.0,1200.0
3,0.0,42.0,0.0,1115.0,2.0,3.0,3.0,7.36,2.0,1500.0,863.0
4,2.0,34.0,1.0,305.0,7.0,4.0,6.0,36.04,3.0,1595.0,697.0
...,...,...,...,...,...,...,...,...,...,...,...
179230,0.0,38.0,1.0,2000.0,6.0,1.0,3.0,9.40,3.0,2000.0,2300.0
179231,0.0,37.0,0.0,6215.0,0.0,4.0,3.0,69.77,4.0,7440.0,2172.0
179232,0.0,37.0,0.0,430.0,7.0,1.0,3.0,30.13,8.0,1595.0,1550.0
179233,0.0,58.0,1.0,3000.0,6.0,1.0,3.0,25.35,1.0,3000.0,350.0
179234,0.0,64.0,0.0,0.0,6.0,4.0,4.0,56.59,1.0,1300.0,867.0

In [ ]:
df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
NrOfDependants,179235.0,0.143655,0.531998,0.0,0.0,0.0,0.0,10.00
Age,179235.0,40.389137,12.359547,0.0,31.0,39.0,49.0,77.00
Gender,179235.0,0.466683,0.620325,0.0,0.0,0.0,1.0,2.00
BidsPortfolioManager,179235.0,797.962530,1235.509764,0.0,105.0,336.0,960.0,10625.00
UseOfLoan,179235.0,0.008213,2.927697,-1.0,-1.0,-1.0,-1.0,110.00
VerificationType,179235.0,3.043669,1.352410,0.0,1.0,4.0,4.0,4.00
EmploymentStatus,179235.0,-0.135320,1.752806,-1.0,-1.0,-1.0,-1.0,6.00
DebtToIncome,179235.0,5.829271,14.480169,0.0,0.0,0.0,0.0,198.02
HomeOwnershipType,179235.0,3.306670,2.885529,-1.0,1.0,2.0,3.0,10.00
AppliedAmount,179235.0,2699.127966,2342.758228,10.0,740.0,2125.0,4150.0,10632.00
IncomeTotal,179235.0,1763.367686,8127.175901,0.0,874.0,1230.0,1900.0,1012019.00

#Normalize Numeric Data using Z Score Normalizer

In [ ]:
def z_score_normalizer(X):
    m = X.shape[0]
    n = 1
    for i in range(n):
        X = (X - X.mean(axis=0))/X.std(axis=0)
    return X

In [ ]:
df = z_score_normalizer(df)

#Target Selection

In [ ]:
Y= object_data['Rating_V2']
object_data = object_data.drop(['Rating_V2'],axis=1)
Y= encoder_1.inverse_transform(Y)
Y= pd.DataFrame(Y, columns=['Rating_V2'])
Y.Rating_V2.unique()

array(['C', 'B', 'A', 'HR', 'F', 'D', 'E', 'AA', 'unknown'], dtype=object)

In [ ]:
Y= Y.loc[Y.Rating_V2!='unknown']
Y= Y.replace(['C', 'B', 'A', 'HR', 'F', 'D', 'E', 'AA'],[0,1,2,3,4,5,6,7])
# Y= Y.astype(float)
# mean_value = np.nanmean(Y.Rating_V2)
# Y= Y.fillna(mean_value)
Y

        Rating_V2
0               0
1               1
2               2
3               3
4               3
...           ...
179230          3
179231          5
179232          3
179233          5
179234          7

[25143 rows x 1 columns]

In [ ]:
Y.isnull().values.any()

False

#Concatenate Boolean, Object, Numerical Data

In [ ]:
all_data = pd.concat([object_data,df,Y], axis=1)
column_means = np.nanmean(all_data['Rating_V2'], axis=0)
missing_indices = np.isnan(all_data['Rating_V2'])
all_data[missing_indices]= np.take(column_means, missing_indices[1])
all_data['Rating_V2'] = pd.to_numeric(all_data['Rating_V2'], errors='coerce')
all_data['Rating_V2'] = all_data['Rating_V2'].round().astype('Int64')
all_data
# all_data = all_data.dropna()

,LoanId,UserName,Restructured,NrOfDependants,Age,Gender,BidsPortfolioManager,UseOfLoan,VerificationType,EmploymentStatus,DebtToIncome,HomeOwnershipType,AppliedAmount,IncomeTotal,Rating_V2
0,71936.0,195517.0,0.0,-0.270029,1.020334,0.859737,0.139244,0.680326,0.707131,3.500284,1.413017,-0.799393,-0.245065,-0.173414,0
1,227690.0,205590.0,0.0,-0.270029,0.777606,0.859737,0.402293,1.021891,-1.511131,2.929770,1.709284,-0.799393,0.128426,-0.106232,1
2,94698.0,189172.0,0.0,1.609677,0.292152,-0.752321,1.539476,1.021891,0.707131,2.929770,1.442022,1.626506,3.385271,-0.069319,2
3,94639.0,187079.0,0.0,-0.270029,0.130333,-0.752321,0.256605,0.680326,-0.032290,1.788743,0.105712,-0.452836,-0.511845,-0.110785,3
4,32037.0,209809.0,0.0,3.489382,-0.516939,0.859737,-0.398995,2.388153,0.707131,3.500284,2.086352,-0.106279,-0.471294,-0.131210,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179230,233682.0,177914.0,0.0,-0.270029,-0.193303,0.859737,0.972908,2.046587,-1.511131,1.788743,0.246594,-0.106279,-0.298421,0.066029,3
179231,6595.0,169463.0,0.0,-0.270029,-0.274212,-0.752321,4.384455,-0.002805,0.707131,1.788743,4.415745,0.240278,2.023628,0.050280,5
179232,38469.0,178862.0,0.0,-0.270029,-0.274212,-0.752321,-0.297822,2.388153,-1.511131,1.788743,1.678208,1.626506,-0.471294,-0.026254,3
179233,106953.0,194896.0,0.0,-0.270029,1.424879,0.859737,1.782291,2.046587,-1.511131,1.788743,1.348101,-0.799393,0.128426,-0.173906,5
179234,71309.0,261810.0,1.0,-0.270029,1.910334,-0.752321,-0.645857,2.046587,0.707131,2.359256,3.505534,-0.799393,-0.597214,-0.110293,7

In [ ]:
# all_data.to_csv('all_data.csv',index=False)
# all_data['Rating_V2']

In [ ]:
all_data.isnull().values.any()

False

In [ ]:
Y= all_data["Rating_V2"]
X= all_data.drop(["Rating_V2"],axis= 1)

#Modelling Data with 80% Data Training & 20% Data Testing

In [ ]:
# X_train, X2, Y_train, Y2 = train_test_split(X, Y, test_size=0.2, random_state=24)

#Modelling Data with 70% Data Training & 30% Data Testing

In [ ]:
X_train, X2, Y_train, Y2 = train_test_split(X, Y, test_size=0.3, random_state=24)

#Modelling Data With 60% Data Training & 40% Data Testing

In [ ]:
# X_train, X2, Y_train, Y2 = train_test_split(X, Y, test_size=0.4, random_state=24)

In [ ]:
sc = StandardScaler()
X_train=sc.fit_transform(X_train)
X2=sc.fit_transform(X2)

In [ ]:
nb=GaussianNB()
nb.fit(X_train, Y_train)

GaussianNB()

In [ ]:
Y_pred = nb.predict(X2)

In [ ]:
print("y_test shape:", Y2.shape)

y_test shape: (53771,)

In [ ]:
print("y_pred shape:", Y_pred.shape)

y_pred shape: (53771,)

In [ ]:
print(Y2)

110506    3
59919     3
97378     3
79494     3
171930    3
         ..
24953     3
29872     3
130255    3
87137     3
160632    3
Name: Rating_V2, Length: 53771, dtype: Int64

In [ ]:
print(Y_pred)

[3. 3. 3. ... 3. 3. 3.]

#Mean Squared Error

In [ ]:
mse=mean_squared_error(Y2,Y_pred)
mse

1.4972940804522885

#Accuracy Score and Confusion Matrix

In [ ]:
cm = confusion_matrix(Y2, Y_pred)
ac = accuracy_score(Y2, Y_pred)

In [ ]:
ac

0.8828550705770769

In [ ]:
cm

array([[  474,   236,     0,     0,   158,    10,    18,   171],
       [  258,   225,     0,     0,    45,     5,     8,   230],
       [   55,    49,     0,     0,     2,     6,     1,   152],
       [  964,   173,     0, 46262,   978,    59,    56,   159],
       [  307,   104,     0,     0,   334,    27,    23,    40],
       [  473,   207,     0,     0,   240,    17,    12,   114],
       [  367,   136,     0,     0,   331,    28,    25,    62],
       [   16,    13,     0,     0,     1,     2,     3,   135]])

In [ ]:
print(classification_report(Y2, Y_pred))

/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

              precision    recall  f1-score   support

         0.0       0.16      0.44      0.24      1067
         1.0       0.20      0.29      0.24       771
         2.0       0.00      0.00      0.00       265
         3.0       1.00      0.95      0.97     48651
         4.0       0.16      0.40      0.23       835
         5.0       0.11      0.02      0.03      1063
         6.0       0.17      0.03      0.05       949
         7.0       0.13      0.79      0.22       170

    accuracy                           0.88     53771
   macro avg       0.24      0.37      0.25     53771
weighted avg       0.92      0.88      0.90     53771

/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [ ]:
Y_gnb_score = nb.predict_proba(X2)
Y_gnb_score

array([[0.00000000e+000, 9.94916827e-285, 0.00000000e+000, ...,
        2.91668426e-042, 2.77816148e-044, 2.53455676e-321],
       [0.00000000e+000, 9.94916827e-285, 0.00000000e+000, ...,
        2.91668426e-042, 2.77816148e-044, 2.53455676e-321],
       [0.00000000e+000, 9.94916827e-285, 0.00000000e+000, ...,
        2.91668426e-042, 2.77816148e-044, 2.53455676e-321],
       ...,
       [0.00000000e+000, 9.94916827e-285, 0.00000000e+000, ...,
        2.91668426e-042, 2.77816148e-044, 2.53455676e-321],
       [0.00000000e+000, 9.94916827e-285, 0.00000000e+000, ...,
        2.91668426e-042, 2.77816148e-044, 2.53455676e-321],
       [0.00000000e+000, 9.94916827e-285, 0.00000000e+000, ...,
        2.91668426e-042, 2.77816148e-044, 2.53455676e-321]])

In [ ]:
# fpr_gnb, tpr_gnb, thresholds_gnb = roc_curve(Y2, Y_gnb_score[:, 1])

#Modelling Using Decision Tree

In [ ]:
model = DecisionTreeClassifier(random_state=4)
model = model.fit(X_train,Y_train)

In [ ]:
Y_pred=model.predict(X2)

In [ ]:
ac = accuracy_score(Y2, Y_pred)

In [ ]:
ac

0.9053579066783211

In [ ]:
cm = confusion_matrix(Y2, Y_pred)

In [ ]:
cm

array([[  225,   168,    37,   134,    99,   218,   170,    16],
       [  192,   217,    46,    74,    48,   110,    60,    24],
       [   47,    70,    43,    20,     8,    39,    15,    23],
       [  180,   105,    47, 47533,   304,   184,   282,    16],
       [   91,    53,    11,   208,   184,   136,   148,     4],
       [  197,   113,    21,   164,   135,   230,   192,    11],
       [  135,    75,    15,   210,   142,   144,   222,     6],
       [   24,    41,    34,    12,     8,    19,     4,    28]])

In [ ]:
print(classification_report(Y2, Y_pred))

              precision    recall  f1-score   support

         0.0       0.21      0.21      0.21      1067
         1.0       0.26      0.28      0.27       771
         2.0       0.17      0.16      0.17       265
         3.0       0.98      0.98      0.98     48651
         4.0       0.20      0.22      0.21       835
         5.0       0.21      0.22      0.21      1063
         6.0       0.20      0.23      0.22       949
         7.0       0.22      0.16      0.19       170

    accuracy                           0.91     53771
   macro avg       0.31      0.31      0.31     53771
weighted avg       0.91      0.91      0.91     53771

In [ ]:
# feature_cols= list(X.columns)
# X.columns=feature_cols

In [ ]:
# dot_data = StringIO()
# export_graphviz(model, out_file=dot_data,
#                 filled=True, rounded=True,
#                 special_characters=True,feature_names = feature_cols,class_names=['0', '1', '2', '3', '4', '5', '6', '7'])
# graph = pydotplus.graph_from_dot_data(dot_data.getvalue())
# Image(graph.create_png())